<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blind Coding: A Coding Club event for APOGEE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="../../static/css/style-1.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
	<body>
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
		<div id="sidenav">
			<ul>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(0)">Question 1</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(1)">Question 2</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(2)">Question 3</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(3)">Question 4</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(4)">Question 5</a>
				</li>
			</ul>
		</div>
		<div class="backdrop">
			</div>
			<div class="about">
				<div id="close" onclick="closeAbout()">
					<span class="horiz"></span>
					<span class="verti"></span>
				</div>
				<h3>About</h3>
				<h5>1. What is Lorem Ipsum?</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<h5>2. Where does it come from?</h5>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
		</div>
	  <nav id="header">
		<ul>
			<li onclick="showAbout()">About</li>
			<li>Contact</li>
			<a href="/logout"><li>Logout</li></a>
		</ul>
	  </nav> 
	  <h3 class="title">Blind Coding</h3>
	  <div id="main">
			<div class="left">
				<h5>Question 1</h5>
					Loading.....
			</div>
			<div class="right">

				<div class="language">
					<div class="input-field col s12">
						<select id="langSelect">
							<option value="" disabled selected class="blue-text text-darken-2">Choose your language</option>
							<!-- <option value="c">C</option>
							<option value="java">Java</option>
							<option value='cpp'>C++</option>
							<option value='cpp14'>C++14</option>
							<option value='python2'>Python2</option>
							<option value='python3'>Python3</option> -->
						</select>
					</div>
				</div>

				<div class="editor ">
					<textarea id="codeInput" class="no-copy-paste noselect" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="// Write your code here!"></textarea>
				</div>

				<div class="outputArea">
					<textarea id="compilerOutput" class="no-copy-paste noselect" autocorrect="off" autocapitalize="off" spellcheck="false" disabled placeholder="// Output will be shown here when you click 'Run'!"></textarea>
				</div>

				<div class="options">
					<button class="run" onclick="runCode()">Run</button>
				</div>

			</div>
	  </div>
	  <div class="scoreboard">
		<span><i class="material-icons">star_border</i><span id="score">00</span></span>
		<span><i class="material-icons">timer</i><span id="timer">00:00</span></span>
	  </div>
	  <div class="leaderboard-icon">
		<i class="material-icons li">insert_chart</i>
	  </div>
	  <div class="leaderboard">
			<table>
				<thead>
					<tr>
						<th class="rank">Rank</th>
						<th class="name">Name</th>
						<th class="score">Points</th>
					</tr>
				</thead>
				<tbody id="leaderboard-body">
					<tr id="leaderboard-loader">
						<th class="rank"></th>
						<th class="name">Loading...</th>
						<th class="score"></th>
					</tr>
				</tbody>
		  </table>
	  </div>
	  <div id="footer">
			<p>&copy; Coding Club ,2019</p>
			<img src="../../static/assets/club-logo.svg" class="club-logo">
		</div>
		<template id="leaderboard-row">
			<tr>
			  <td class="rank"></td>
			  <td class="name"></td>
			  <td class="score"></td>
			</tr>
		</template>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>
</body>
</html>
